/* Styles for screens smaller than 768px */

html, body {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  height: auto;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
}

.rubik-doodle-shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
  padding: 0;
  background-image: url('public/books.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

header {
  color:  white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0;
  height: 50vh;
  overflow-x: hidden;
  text-align: center;
  position: relative;
}

nav {
  overflow-y: hidden;
}

p {
  margin: 0 auto;
  max-width: fit-content;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

section {
  padding: 1px;
}

.book-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;

}

.book-result {
  background-color: #F0F0F0;
  padding: 1rem;
  font-size: x-small;
  border-radius: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 200px;
  height: 200px;
  border: solid 1px black;
  margin: auto;


}

.book-result:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}


footer {
  color: black;
  text-align: center;
  height: 5vh;
  width: 90vw;
  padding-top: 10rem;

}

#hero {
  height: 25rem;
  max-width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  position: relative;
  border-radius: 5px;
}

#hero-text {
  text-align: center;
  width: 70vw;
  font-size: 11pt;
  line-height: 1.6;
  max-width: 100vw;
  height: 35vh;
  border-radius: 5px;
  margin: 0;
  padding: 0.5rem;
  font-weight: 500;
}

#hero-heading {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  font-size: large;
  font-family: "Rubik Doodle Shadow";
}

.page-heading {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  text-align: center;
}

.page-intro {
  color: black;
  text-align: center;
  background-color: white;
  padding: 0.5rem;
  width: auto;
  border-radius: 5px;

}

.menu {
  display: none; 
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.menu.open {
  display: block;

}

#hamburger-container {
  display: block;
}

.nav-link {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  font-size:x-large;
}

li {
  padding-left: 1rem;
  text-align: center;
  margin: 1px;
}

.nav-link:hover {
  text-decoration: underline;
  color: white;
}

.link {
  color: #2575fc;
  text-decoration: underline;
}


.primary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  margin: 1rem auto;
  max-width: 100vw;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease;
  text-align: center;
  box-shadow: 0 0 1px #eee;
  border-radius: 5px;
  background-color: #fff;
  color: #6a11cb;
  border: 2px solid #6a11cb;
}

.primary-button:hover {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  color: #fff;
}

.primary-button:focus {
  outline: 2px solid #2575fc;
  outline-offset: 2px;
}

.secondary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  line-height: 1;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 1px #eee;
  background-color: white;
  color: #2575fc;
  border: 2px solid #2575fc;

}

.secondary-button:hover {
  background-color: #2575fc;
  color: white;
}

#button-container {
  display: flex;
  justify-content: center;
}

#searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

#search {
  width: 100%;
}

#hero-icon {
  text-shadow: 0px 0px 8px rgba(0, 210, 255, 0.6);
  color: #6a11cb;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.button-text {
  display: inline-block;
  line-height: 1;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

label {
  display: flex;
  align-items: center;
}

span {
  margin: 1rem;
}

input[type="checkbox"] {
  margin-right: 0.2rem; 
  margin-top: 0.1rem;
}

input {
  margin: 2% auto;
  padding: 5%;
}

input[type="text"] {
  width: 100%;
}

input[type="number"] {
  width: 100%;
}

.book-item {
  background-color: #F0F0F0;
  padding: 1rem;
  border: 1px solid #E0E0E0;
  margin: 5px auto;
  border-radius: 5px;
  text-align: center;
}

/* Styles for screens larger than 768px */
@media only screen and (min-width: 768px) {
  #root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  #container {
    align-items: center;
    height: auto;
    margin-top: 10rem;
    
  }
  
  #hero {
    background-size: cover;
    height: 35rem;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #hero-text {
    text-align: center;
    font-size: x-large;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    height: 12rem;
    width: 60rem;
  }

  .books-empty-message {
  text-align: center;
  color: #cdcdcd;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-left: 1rem; 
  text-align: left;       
  max-width: 1000px; 
}



  #hero-heading {
    font-size: xx-large;
  }

  .page-intro {
    width: 50rem;
    border: #2575fc solid 1px;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 1rem;
  }
  
  .primary-button {
    padding: 5px 5px;
    border-radius: 5px;
    height: 36px;
    width: 15vw;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
  }

  
  .secondary-button {
    margin: 1rem;
    padding: 0 16px;
    height: 36px;
    width: 15vw;
    text-align: center;
  
  }

  
  #searchbar {
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    width: 30vw;
    border: #2575fc solid 1px;
    background-color: white;
    border-radius: 5px;
  }

  #search {
    padding: 0.7rem;
    width: 15vw;
  }
  
  header {
    position: absolute;
    top: 0;
    height: 12rem;
  }

  footer {
    margin-top: 6rem;
    width: 109.9%;
  }

  #hamburger-container {
    display: none;
  }

  .menu {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
  }

  .menu li {
    margin: 0 15px;
  }

  table {
    padding: 1rem;
    border: solid #E0E0E0 1px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .book-item {
    background-color: #F0F0F0;
    padding: 1rem;
    border: 1px solid #E0E0E0;
    margin: 0.8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #books-display {
    border-radius: 5px;
    width: 50%;
    background-color: #D8E6FF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0;
    background-color: rgb(237, 237, 237);
  }

  #collection-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    width: 100%;
  }

  #collection-container > * {
    flex: 1;
  }

  form {
    width: 50%;
    border-radius: 5px;
    padding: 2rem;
    margin: 0;
    background-color: rgb(237, 237, 237);
  }

  .form-slide-in {
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    position: relative;
  }

  .form-slide-in.form-active {
    transform: translateX(0);
  }
  
  input[type="text"] {
    width: 15vw;
    height: 1vh;
    padding: 1%;
    margin: 1%;
  }
  
  input[type="number"] {
    width: 15vw;
    height: 1vh;
    padding: 1%;
    margin: 1%;
  }

}


